

.hero {
    background-image: linear-gradient(to right, rgb(78, 121, 214), rgb(43, 17, 104));
    height: 5vh;
    text-align: center;
    margin: auto;
    line-height: 5vh;
    color: white
}

h1 {
    line-height: inherit;
    padding: .25vw 0;
}

h2 {
    padding: 1vw 0;
}

.row {
    justify-content: space-around;
}

p {
    text-align: center;
}